n8n/workflow.json
{
  "name": "Parecer Fácil - Gerador de Relatórios (COM ÁUDIO)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "parecer-facil",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "pareceres",
        "column": "id",
        "value": "={{$json.body.parecerId}}"
      },
      "name": "Get Parecer",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        680,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "professores",
        "column": "uid",
        "value": "={{$json.body.professorUid}}"
      },
      "name": "Get Professor Style",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        900,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$node[\"Get Parecer\"].json[\"audio_url\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleGeminiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"inline_data\": {\n            \"mime_type\": \"audio/webm\",\n            \"data\": \"{{$node[\"Download Audio\"].binary.data.data}}\"\n          }\n        },\n        {\n          \"text\": \"Você é um assistente pedagógico especialista em educação infantil.\\n\\nOuça o áudio acima onde a professora descreve observações sobre o aluno e gere um parecer descritivo formal e acolhedor.\\n\\nDados do Aluno:\\nNome: {{$node[\"Get Parecer\"].json[\"aluno_nome\"]}}\\nIdade/Turma: {{$node[\"Get Parecer\"].json[\"aluno_idade\"]}}\\n\\nEstilo de Escrita do Professor (use como referência):\\n{{$node[\"Get Professor Style\"].json[\"estilo_escrita\"]}}\\n\\nNúmero de Páginas Esperado: {{$node[\"Get Professor Style\"].json[\"paginas_esperadas\"]}} página(s)\\nIMPORTANTE: O parecer deve ter aproximadamente {{$node[\"Get Professor Style\"].json[\"paginas_esperadas\"]}} página(s) quando impresso. Ajuste o tamanho do texto de acordo.\\n\\nGere um parecer completo em português do Brasil, formatado em Markdown, baseado EXCLUSIVAMENTE no que você ouviu no áudio.\"\n        }\n      ]\n    }\n  ],\n  \"generationConfig\": {\n    \"temperature\": 0.7,\n    \"maxOutputTokens\": 8192\n  }\n}",
        "options": {}
      },
      "name": "Gemini with Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "YOUR_GEMINI_CREDENTIALS_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pareceres",
        "column": "id",
        "value": "={{$node[\"Get Parecer\"].json[\"id\"]}}",
        "fields": "resultado_texto, status",
        "fieldValues": {
          "resultado_texto": "={{$json[\"candidates\"][0][\"content\"][\"parts\"][0][\"text\"]}}",
          "status": "concluído"
        }
      },
      "name": "Update Parecer",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIALS_ID",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Parecer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Parecer": {
      "main": [
        [
          {
            "node": "Get Professor Style",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Professor Style": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Gemini with Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini with Audio": {
      "main": [
        [
          {
            "node": "Update Parecer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}